$primary-color: #009e42;
$primary-color-light: lighten($primary-color, 2);
$primary-color-dark: #156d3a;

$error-color: #ab0000;

$text-color-dark: #222;
$text-color-grey: #666;

$text-color-light: #fff;